/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Set a background color and font family for the entire website */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Style the header and navigation */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content:start;
    align-items: center;
}

.logo{
    align-items: start;
}

nav ul {
    list-style: none;
    align-items: end;
    margin-left: 328px;
    display: flex;
    padding: 0px;
}

nav li {
    display: inline;
    margin-right: 58px;
}

nav li:last-child{
    margin-right: 0px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Style the article list */
.article-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-between;
    padding: 20px;
}

.article-card {
    width: calc(33.33% - 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.article-card img {
    max-width: 100%;
    height: auto;
}

/* Style the article page */
.article {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}
